.pic {
    display: block;
    margin: 16px auto;
}

.recipes{
    background-color: antiquewhite; 
    font-family: cursive;
    color: black;

}

h1{
    text-align: center;
    font-weight: 3000;

}
#cookie {
    width: 300px;
    height: 300px;
    
}
.button{
    font-size: 20px;
    border-radius: 16px;
    margin: auto;
    display: block;
    margin-bottom: 18px;
    background-color: #bdd1d3;
    padding: 10px; 
    border: solid 5px; 
    font-family: cursive;
    color: black;
}
