#body {
	margin: 0;
	background: #eee;
	font-family: Besley, serif;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;

}

.column-cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	background-color: lightgray;
	border-radius: 7px;
	align-items: center;
	margin: 2px;
	flex-shrink: 2;
	flex-grow: 1;
	flex-basis: 50px;
}

.column-cards:hover {
	background-color: #79009d;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	width: 100%;
	height: calc(100vh - 90px);
}

#header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin: 0;
}

#flex-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	border: red 3px solid;
	height: 90%;
	width: 100%;
    gap: 5px;
	flex-shrink: 2;
	flex-grow: 1;
}





#body2 {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    overflow: hidden;
}




.contentofcards{
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	flex-shrink: 2;
	flex-grow: 1;
	font-weight: bold;
	font-size: 25px;
}


.clicked {
  background-color: cadetblue;
}




#starttimer {
	display: flex;
	flex-direction: column;
	flex-shrink: 2; 
	align-items: center;
	justify-content:center; 
	width: fit-content;
	height: fit-content;
	font-size: 14px;
	background-color: #2ae000;
	border-radius: 7px;
}

#endgame {
	display: flex;
	flex-direction: column;
	flex-shrink: 2; 
	align-items: center;
	justify-content:center; 
	width: fit-content;
	height: fit-content;
	font-size: 14px;
	background-color: #e01b1b;
	border-radius: 7px;



}

#clearbutton{
	display: flex;
	flex-direction: column;
	flex-shrink: 2; 
	align-items: center;
	justify-content:center; 
	width: fit-content;
	height: fit-content;
	font-size: 14px;
	background-color: #1ffeff;
	border-radius: 7px;


}


#startendbuttonstimesize{
	display: flex;
	font-size: 125%;
	flex-shrink: 2;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;

	
}

.facedownend{
	content: "X";
	content-visibility: visible;
	font-size: 20px;
	color:red;
}
.facedown{
	color: transparent;
	background-color: mediumpurple;
	
}